<% if book.favorited_by?(current_user) %><!--取得した投稿データと関連付けたfavoriteモデルのuser_idカラムにｶﾚﾝﾄﾕｰｻﾞｰのidがあれば-->
  <td>
    <%= link_to book_favorites_path(book), method: :delete do %>
      ♥<%= book.favorites.count %>いいね
    <% end %>
  </td>
<% else %>
  <td>
    <%= link_to book_favorites_path(book), method: :post do %>
      ♡<%= book.favorites.count %>いいね
    <% end %>
  </td>
<% end %>